
@import url(theme.css);

header {
	padding: 20px 0;
}

#main {
}

#author {
	text-align: right;
	color: yellow;
}

table {
	width: 80%;
	margin: 10px auto;
}

thead {
	font-style: italic;
	font-weight: 700;
}

td {
	border: 1px solid #666666;
	padding: 5px 8px;
	background-color: #222222;
}

@media screen and (min-device-width: 960px) {
	
	article {
		width: 700px;
		padding: 0px 10px;
		float: left;
	}
	
	aside {
		padding: 5px 8px;
		float: right;
		width: 240px;
		border: 1px solid #333333;
	}
	
}

.clear {
	clear: both;
}