<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<title>{{ page.title }} - {{ site.slogan }}</title>
		<meta name="keywords" content="{{ page.keywords }}" />
		<meta name="description" content="{{ page.description }}" />
		
		<meta name="viewport" content="width=device-width" />
		<!--[if lt IE 9]>
			<script src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script>
		<![endif]-->
		<link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/css/index.css" media="screen" />
	</head>
	
	<body>
		
		<header>
			<h1>{{ site.company }}</h1>
		</header>
		
		<div id="wrap">
			
			{{ content }}
			
			<div class="clear">&nbsp;</div>
			
			<footer>
				<div>&copy; 2013 <a href="http://www.prokids.com/">Prokids Inc.</a> All Rights Reserved.</div>
			</footer>
			
		</div>
		
	</body>
</html>
